.botonCard{
    color: #fff;
    background-color: #0070CC;
    border:none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.25;
    height:34px;
    width:139px;
}