.elementoSlider img{
    width: 280px;
    height: 280px;
    border-radius: 10px;
    
}

.elementoSlider p{
    text-align: left;
    margin: 5px 0;
}

.elementoSlider .precio{
    color: #363636;
    font-size: 14px;
}