.info{
    padding:20px 30px;
    box-shadow: 0px 10px 13px -7px #e8e8e8, 5px 5px 15px 5px rgba(0,0,0,0);
}
.container{
    display: flex;
    justify-content: space-between;
}
.info p{
    text-align: start;
    color: #6b6b6b;
    font-size: 12px;
}